.loginFormInputField{
    width: auto;
    margin: 8px;
}

.loginFormInputSubmit{
    height: 45px;
    width: auto;
    margin: 8px;
}

.authForm{
    width: 30%;
    height: fit-content;
    padding: 64px;
    margin: auto;
    justify-content: center;
}