<form style="width: 100%">
    <div class="authForm">
        <mat-form-field class="loginFormInputField">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="loginFormInputField">
            <mat-label>Password</mat-label>
            <input type="password" matInput [formControl]="passFormControl" placeholder="*************">
            <mat-error *ngIf="passFormControl.hasError('required')">
                Please type a password :(
            </mat-error>
        </mat-form-field>
        <br>
        <button color="primary" class="loginFormInputSubmit" mat-raised-button (click)="authSubmit()">Login</button>
    </div>
</form>