<mat-toolbar color="primary">
  <div class="toolbar-left">
    <button mat-icon-button (click)="opened=!opened" *ngIf="router.url != '/login'">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="title-container">
    <span class="title" routerLink="/home">🍉 Management System</span>
  </div>
  <div class="toolbar-right" *ngIf="router.url != '/login'">
    <span>
      <p class="mat-subtitle-2" style="margin-bottom: 0;">{{username}}</p>
    </span>
    <span>
      <p class="mat-subtitle-2" style="margin-bottom: 0;">{{userId}}</p>
    </span>
    <span>
      <button mat-icon-button routerLink="/login">
        <mat-icon>login</mat-icon>
      </button>
    </span>
  </div>
</mat-toolbar>

<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav [(opened)]="opened" mode="push">
    <mat-nav-list>
      <a mat-list-item>Dashboard</a>
      <a mat-list-item *ngIf="student" routerLink="/grades" (click)="opened=false">Grades</a>
      <a mat-list-item *ngIf="student" routerLink="/registration" (click)="opened=false">Registration</a>
      <mat-list-item>
        <mat-icon matListItemIcon style="color: #F44336">logout</mat-icon>
        <a (click)="logout(); opened=false" id="logoutButton">Logout</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="width: 80%; margin: auto;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div style="padding: 64px; background-color: black;">
  <p class="mat-body-strong" style="text-align:center; color:#E0E0E0">All Rights Reserved©</p>
</div>