body{
    height: 100%;
}
.spacer {
    flex: 1 1 auto;
}

span {
    padding: 1rem;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav, mat-sidenav-content {
    padding: 16px;
}

mat-sidenav-content {
    height: 100%;
}

mat-sidenav {
    width: 200px;
}

#logoutButton {
    width: 100%;
    justify-content: start;
    color: #F44336;
}