body{
    height: 100%;
}
.spacer {
    flex: 1 1 auto;
}

span {
    padding: 1rem;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav, mat-sidenav-content {
    padding: 16px;
}

mat-sidenav-content {
    height: 100%;
}

mat-sidenav {
    width: 200px;
}

#logoutButton {
    width: 100%;
    justify-content: start;
    color: #F44336;
}

mat-toolbar {
    position: relative;
  }

.title-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 80px;
}

.title {
    display: flex;
    align-items: center;
}

.toolbar-left,
.toolbar-right {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.toolbar-right {
    position: absolute;
    right: 0;
}