mat-card {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    color: #303030;
    transition: all 0.25s ease-in;
}

mat-card:hover {
    background-color: #C0C0C0;
    cursor: pointer;
}

.courseId {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    margin: 16px;
}

.courseName {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    margin: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.semester {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    margin: 16px;
}

.grade {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    margin: 16px;
}

#registerCourses {
    text-decoration: none;
    transition: all 0.25s ease-in;
}
#registerCourses:link {
    color: inherit;
}
#registerCourses:visited {
    color: inherit;
}
#registerCourses:hover {
    color: #FF4081;
}
#registerCourses:active {
    color: #FF0055;
}

.scrollableWindow {
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content:left;
}

.section {
    margin: 8px;
    overflow-x: auto;
}

.items-container {
    display: flex;
    flex-wrap: nowrap;
}

.scrollableCard {
    min-width: 300px;
    margin: 8px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
}

table {
    width: 100%;
}

.table-row:hover {
    background-color: #E0E0E0 !important;
    cursor: pointer;
}